.img{
  width: 28rem;
}
.Name{
 border: solid 1px;
 margin-right: 70rem;
 background-color: rgb(122, 245, 245);
}
.address{
  border: solid 1px;
  margin-right: 70rem;
  background-color: rgb(122, 245, 245);
}